/* Стилі для загального вигляду */
#reg,
#login,
#buy,
#learn-more{
    display: none;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header,.hero, .learn-more, .intro, .recommended-books, .feature-book, .become-author, .testimonials, .blog, .newsletter {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: #4f4f4f;
    transition: color 0.3s;
}
a:hover {
    color: #0d0d0e;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #459118;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button:hover {
    background-color: #357e0a;
    color: #fff;
}
.logo img {
    width: 152px;
    max-height: 33px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    padding: 10px 20px;
    color: #fff;
}
.cta {
    display: flex;
    gap: 10px;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar li {
    margin-right: 20px;
}

.hero {
    display: flex;
    align-items: center;
    height: 468px; /* Задаємо висоту контейнера hero */
    background: url("./image/hero.jpg") center/cover;
    position: relative;
}

.hero img {
    height: 100%; /* Зробити картинку займання всю висоту секції */
    width: auto; /* Автоматично обчислити ширину, щоб зберегти співвідношення сторін */
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.hero-content {
    position: absolute; /* Змінили позицію на absolute */
    left: 20px; /* Розміщуємо лівіше (за бажанням можна змінити значення) */
    top: 20px; /* Розміщуємо вгорі (за бажанням можна змінити значення) */
    width: 518px;
    padding: 20px; /* Додали відступи для контейнера */
    color: #000; /* Змінили колір тексту */
    z-index: 2
}

