body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#calculator {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 20px;
}

.label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

input[type="number"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

button[type="submit"] {
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="button"]:hover {
    background-color: #ccc;
    color: #000;
}

#result {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

#additional-info {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#additional-info h2 {
    font-weight: bold;
    font-size: 20px;
}

#additional-info p {
    margin: 10px 0;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

.error-field {
    border: 2px solid red;
}

input[type="checkbox"] {
    margin-left: 10px;
}